{% extends 'layouts/layout.html' %}

{% block navbar %}
<li class="nav-item">
    <a class="nav-link" href={% url 'crear_historia_clinica' %}> Crear Historia Clinica </a>
</li>
<li class="nav-item">
    <a class="nav-link" href={% url 'agregar_ordenes' %}> Actualizar Información </a>
</li>
<li class="nav-item">
    <a class="nav-link" href=''> Facturación </a>   
</li>
<li class="nav-item">
    <a class="nav-link" href=""> Seguros Médicos </a>
</li>
<li class="nav-item">
    <a class="nav-link" href="{% url 'logout_view' %}"> Cerrar Sesión </a>
</li>
{% endblock %}


{% block content %}
<div class="container mt-4">
    <div class="row justify-content-center">
        <div class="col-md-10">
            <div class="card mt-5">
                <div class="card-header text-center">Agregar Medicamento</div>
                <div class="card-body">
                    <form method="post">
                        {% csrf_token %}
                        {{ form.as_p }}
                        <button type="submit" class="btn btn-primary">Guardar Medicamento</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
