{% extends 'layouts/layout.html' %}

{% block navbar %}
<li class="nav-item">
    <a class="nav-link" href=''> Crear Usuario</a>
</li>
<li class="nav-item">
    <a class="nav-link" href=''> Eliminar Usuario </a>
</li>
<li class="nav-item">
    <a class="nav-link" href=''> Actualizar Usuario </a>
</li>
<li class="nav-item">
    <a class="nav-link" href=''> Registro Asistencia </a>
</li>
<li class="nav-item">
    <a class="nav-link" href=''> Licencias </a>
</li>
<li class="nav-item">
    <a class="nav-link" href="{% url 'logout_view' %}"> Cerrar Sesion </a>
</li>
{% endblock %}

{% block content %}

{% endblock %}