{% extends 'layouts/layout.html' %}

{% block navbar %}
<li class="nav-item">
    <a class="nav-link" href={% url 'registro_usuarios' %}> Registro de Usuarios </a>
</li>
<li class="nav-item">
    <a class="nav-link" href="{% url 'buscar_usuario' %}"> Actualizar Información Usuarios </a>
</li>
<li class="nav-item">
  <a class="nav-link" href={% url 'registro_asistencia' %}> Asistencia </a>
</li>
<li class="nav-item">
    <a class="nav-link" href={% url 'logout_view' %}> Cerrar Sesión </a>
</li>
{% endblock %}

{% block content %}
  <div class="container mt-5">
    <div class="row justify-content-center">
      <div class="col-md-8">
        <div class="card">
          <div class="card-header text-center">Registro</div>
          <div class="card-body">
            {% if messages %}
              {% for message in messages %}
                  {% if message.tags == 'success' %}
                      <div class="alert alert-success" role="alert" id="Errorcito">
                          {{ message }}
                      </div>
                  {% elif message.tags == 'error' %}
                      <div class="alert alert-danger" role="alert" id="Errorcito">
                          {{ message }}
                      </div>
                  {% endif %}
              {% endfor %}
          {% endif %}
            <form method="post">
              {% csrf_token %}
              <div class="row">
                <div class="col-md-6">
                  <div class="form-group">
                    {{ form.nombre.label_tag }}
                    {{ form.nombre }}
                  </div>
                  <div class="form-group">
                    {{ form.cedula.label_tag }}
                    {{ form.cedula }}
                  </div>
                  <div class="form-group">
                    {{ form.email.label_tag }}
                    {{ form.email }}
                  </div>
                  <div class="form-group">
                    {{ form.telefono.label_tag }}
                    {{ form.telefono }}
                  </div>
                  <div class="form-group">
                    {{ form.direccion.label_tag }}
                    {{ form.direccion }}
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="form-group">
                    {{ form.nacimiento.label_tag }}
                    {{ form.nacimiento }}
                  </div>
                  <div class="form-group">
                    {{ form.username.label_tag }}
                    {{ form.username }}
                  </div>
                  <div class="form-group">
                    {{ form.rol.label_tag }}
                    {{ form.rol }}
                  </div>
                  <div class="form-group">
                    {{ form.password1.label_tag }}
                    {{ form.password1 }}
                  </div>
                  <div class="form-group">
                    {{ form.password2.label_tag }}
                    {{ form.password2 }}
                  </div>
                  <div class="text-center">
                    <button type="submit" class="btn btn-primary" style="margin-top: 8px; width: 320px;background-color: rgb(128, 0, 128); border-color: rgb(128, 0, 128);">Registrarse</button>
                  </div>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
  <script>
    setTimeout(function () {
        var errorMessage = document.getElementById("Errorcito");
        if (errorMessage) {
            errorMessage.style.display = "none";
        }
    }, 4000);
</script>
{% endblock %}
