{% extends 'layouts/layout.html' %}

{% block navbar %}
<li class="nav-item">
    <a class="nav-link" href={% url 'crear_paciente' %}> Registro de Pacientes </a>
</li>
<li class="nav-item">
    <a class="nav-link" href={% url 'buscar_paciente' %}> Actualizar Informacion </a>
</li>
<li class="nav-item">
    <a class="nav-link" href=''> Facturación </a>
</li>
<li class="nav-item">
    <a class="nav-link" href=''> Seguros Medicos </a>
</li>
<li class="nav-item">
    <a class="nav-link" href="{% url 'logout_view' %}"> Cerrar Sesion </a>
</li>
{% endblock %}

{% block content %}
  <div class="container mt-4">
    <div class="row justify-content-center align-items-center mt-5">
      <div class="col-md-10">
        <div class="card">
          <div class="card-header text-center">Facturación</div>
          <div class="card-body">
            <!-- Contenido de la página de facturación -->
            <h2>Detalles de Facturación</h2>
            <p>Costo Bruto: ${{ costo_bruto }}</p>
            <p>Costo Final: ${{ costo_final }}</p>
        
            <form method="post" action="">
              {% csrf_token %}
              <button type="submit" class="btn btn-success">Pagar</button>
            </form>
            <!-- Fin del contenido de la página de facturación -->
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
