{% extends 'layouts/layout.html' %}

{% block navbar %}
<li class="nav-item">
    <a class="nav-link" href={% url 'crear_paciente'%}> Registro de Pacientes </a>
</li>
<li class="nav-item">
    <a class="nav-link" href=''> Actualizar Informacion </a>
</li>
<li class="nav-item">
    <a class="nav-link" href=''> Facturacion </a>
</li>
<li class="nav-item">
    <a class="nav-link" href=''> Seguros Medicos </a>
</li>
<li class="nav-item">
    <a class="nav-link" href="{% url 'logout_view' %}"> Cerrar Sesion </a>
</li>
{% endblock %}

{% block content %}

{% endblock %} 